/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #f3f3f3;
}

/* || typography */

h1, h2, h3 {
  color: #1d2023;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

p, input, li {
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #2a2a2a;
}


p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || link layout */

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

a:hover {
	color:red;
}

a:active {
	color:#ce3030;
}


/* || header layout */

header {
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px;
}

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  background-color: #fff;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

article {
	border-radius: 10px;
	padding: 2%;
	min-height: 80vh;
}

/* || main layout */

main {
  width: 70%;
  margin: 0 auto;
}

/* || footer layout */

footer {
	margin-top: 10px;
}

footer p {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer_first_span {
	margin-right: 68px;
}

.footer_first_a {
	margin-right: 36px;
}

.vk_link {
	background-image: url(vk_logo.png);
	background-size: 1.5em, auto, cover;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 1.9em;
	line-height: 2em;
}

/* || form layout */

form {
	padding: 2em;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 10px;
}

form[action='/submit/docs'] {
    margin-top:10px;
}

form[action='/submit/docs/nvo'] {
    min-height:100vh;
}

fieldset {
	padding: 2em;
	margin: 1em;
	border-radius: 10px;
}
button {
	height: 2em;
	width: 10em;
}

p[class='button'] {
	text-align:center;
}

fieldset p {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

/* || contacts page layout */

.person {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border: 1px solid gray;
	margin-bottom: 10px;
	border-radius: 10px;
}

.description {
	flex: 0.9;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.description p {
	border-bottom: 1px solid gray;
}

.person img {
	max-width: 200px;
}

/* || dynamic table layout */

table {
    width: 100%;
    font-size:1.6rem;
    line-height:1.5;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
}

/*Мобильная версия страницы*/

@media screen and (max-width:875px){
    main {
        width: 100%;
    }
	
	h1 {
		font-size: 1.75rem;
	}
	
	svg {
		min-width:130px;
	}
	
	footer a {
		font-size: 1.4rem;
	}
	
	.footer_first_span {
		margin-right: 60px;
	}
}

@media screen and (max-width:810px){
	h1 {
		margin-left: 20%;
	}
	footer a {
		font-size: 1.4rem;
	}
	.footer_first_span {
		margin-right: 60px;
	}

}


@media screen and (max-width:650px){

    nav a {
        font-size: 1.6rem;
    }
	footer a {
		font-size: 1.3rem;
	}
	.footer_first_span {
		margin-right: 42px;
	}
}

@media screen and (max-width:650px){
	footer a {
		font-size: 1.4rem;
	}
	.footer_first_span {
		margin-right: 38px;
	}
	.description p {
		font-size: 1.3rem;
	}
	
	.description {
		display: block;
	}

{

@media screen and (max-width:450px){

    nav a {
        font-size: 1.3rem;
    }

}
