<!doctype html>
<html lang='ru'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<meta name='author' content='Maxim Chubarov'/>
		<meta name='description' content='Система Персонального Электронного Документооборота'/>
		<title>{{title}}</title>
		<link rel='shortcut icon' href="{{ url_for('static', path='/my_icon.png') }}" type='image/x-icon' />
		<link rel="stylesheet" href="{{ url_for('static', path='/oauth_page/oauth.css') }}" />
	</head>
	<body class='suc_body'>
		<form>
			<header class ='suc_header'>
			<img class='suc_img' src="{{ url_for('static', path='/my_icon.png') }}"></img>
			<h1 class='suc_h1'>Пользователь не авторизован</h1>
			</header>
			<p class='suc_p'><a href="{{ url_for('get_index') }}">Назад</a></p>
		</form>
	</body>
</html>
