<!doctype html>
<html lang='ru'>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width"/>
		<meta name='author' content='Maxim Chubarov'/>
		<meta name='description' content='Система Персонального Электронного Документооборота для сотрудников АО "Транснефть-Прикамье"'/>
		<title>СПЭД Авторизация</title>
		<link rel='shortcut icon' href="{{ url_for('static', path='/my_icon.png') }}" type='image/x-icon' />
		<link rel="stylesheet" href="{{ url_for('static', path='/oauth_page/oauth.css') }}" />
	</head>
	<body>
		<form action="/login" method="post">
			<header>
			<img src="{{ url_for('static', path='/my_icon.png') }}"></img>
			<h1>Авторизация в СПЭД</h1>
			</header>
			<fieldset>
				<legend><p>Введите табельный номер и пароль</p></legend>
				<p class='tab_number_field'>
					<label for="tab_number">Табельный номер:</label>
					<input type="text" id="tab_number" name="username" />
				</p>
				<p class='password_number'>
					<label for="pwd">Пароль:</label>
					<input type="password" id="pwd" name="password" />
				</p>
				<button type="submit">Войти</button>
			</fieldset>
		</form>
	</body>
</html>
